/* ------------------------------Mobile menu ---------------------------------------*/
.active{
    animation: slide-in 0.4s ease-in-out ;
}
.unactive{
    animation: slide-out 0.3s ease-in-out forwards;
}
.block{
    display:none;
}

@keyframes slide-in{
    0%{
        transform: translateY(-100%);
    
    }
    100%{
        transform: translateY(0);
       
    }
}
@keyframes slide-out{
    0%{
        transform: translateY(0);
       
    }
    100%{
        transform: translateY(-100%);
       
    }
}
/* -----------------------------------Contact animation---------------------------------- */
.animate{
    animation: drop 0.5s ease-in-out;
}
@keyframes drop{
    0%{
        transform:translateY(-100%);
    }
    100%{
        transform: translateY(0);
    }
}